<div class="page-header">
  <div class="row">
    <h1 class="col-sm-4" style="margin-left: 10px">All Students</h1>
    <div class="btn-group pull-right" style="margin-right: 100px;">
      <span><%= link_to 'Logout', 'logout', class: 'btn btn-default pull-right' %></span>
      <span><%= link_to 'Schedule', users_path, class: 'btn btn-default pull-right' %></span>
      <span><%= link_to 'Add a Student', new_student_path, class: 'btn btn-default pull-right' %></span>
      <span><%= link_to 'All Lessons', lessons_path, class: 'btn btn-default pull-right' %></span>
    </div>
  </div>
</div>

<div class="wrapper">
  <table class="table assignment-table">
    <thead>
      <tr>
        <th>Student ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Cell Phone</th>
      </tr>
    </thead>
  
    <tbody>
      <% @students.each do |student| %>
        <tr id="<%= dom_id(student) %>">
          <td><%= student.id %></td>
          <td><%= student.first_name %></td>
          <td><%= student.last_name %></td>
          <td><%= student.cell_phone %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>