<div class="page-header">
  <div class="row">
    <h1 class="col-sm-4" style="margin-left: 40px"><%= link_to @user.name, edit_user_path(@user) %></h1>
    <div class="btn-group pull-right" style="margin-right: 100px;">
      <span><%= link_to 'Logout', 'logout', class: 'btn btn-default pull-right' %></span>
      <span><%= link_to 'Profile', edit_user_path(@user), class: 'btn btn-default pull-right' %></span>
      <span><%= link_to 'Add a Student', new_student_path, class: 'btn btn-default pull-right' %></span>
      <span><%= link_to 'All Students', students_path, class: 'btn btn-default pull-right' %></span>
      <span><%= link_to 'All Lessons', lessons_path, class: 'btn btn-default pull-right' %></span>
    </div>
    <div class="col-sm-4" style="margin: 0 0 0 40px; clear: left;">
      <div class="btn-group">
        <span style="margin-right: 20px"><%= link_to 'Add', 'path_name', class: 'btn btn-default pull-left' %></span>
        <button class="btn btn-default pull-left" data-toggle="modal" data-target="#lessonModal">Lesson</button>
        <span style="margin-right: 20px"><%= link_to 'Meeting', 'path_name', class: 'btn btn-default pull-left' %></span>
        <span style="margin-right: 20px"><%= link_to 'Break', 'path_name', class: 'btn btn-default pull-left' %></span>
      </div>
    </div>
  </div>
</div>


<!-- Day Schedule -->
<div class="row" style="margin-left: 28px; margin-bottom: -12px;">
  <h3 class="month-arrow"><%= link_to "<", day_path(day: @viewDate - 1.day) %></h3>
  <h3 class="month-arrow"><%= link_to ">", day_path(day: @viewDate + 1.day) %></h3>
</div>
<div class="schedule-wrap">
  <div class="row first-row">
    <div class="col-sm-1-schedule first-col">
      <h5 class="bold text-center"><%= (@viewDate).strftime("%A %d") %></h5>
    </div>
    
    <div class="col-sm-1-schedule">
      <h5 class="bold text-center block"><%= link_to (@teachers.first).name, users_path(week: @weekStart) %></h5>
    </div>
  </div>
  <div class="row-time offset-color">
    <div class="col-sm-1-schedule first-col time-col text-center element-height"><h5 class="bold">12:00</h5></div>    
    <% @teachers.each do |teacher| %>
      <% datetime = DateTime.new( @viewDate.year,  @viewDate.month, @viewDate.day, 12, 00 )%>
      <% if teacher.lessons_at(datetime).exists? %>
        <% teacher.lessons_at(datetime).each do |lesson| %>
          <div class="col-sm-1-schedule text-center element-height lesson-block lesson-active">
            <%= lesson.student.full_name %>
          </div>
        <% end %>
      <% else %>
        <div class="col-sm-1-schedule text-center element-height lesson-block"></div>
      <% end %>
    <% end %>
  </div>
  <div class="row-time">
    <div class="col-sm-1-schedule first-col time-col text-center element-height"><h5 class="bold">1:00</h5></div>
    <% @teachers.each do |teacher| %>
      <% datetime = DateTime.new( @viewDate.year,  @viewDate.month, @viewDate.day, 12, 00 )%>
      <% if teacher.lessons_at(datetime).exists? %>
        <% teacher.lessons_at(datetime).each do |lesson| %>
          <div class="col-sm-1-schedule text-center element-height lesson-block lesson-active">
            <%= lesson.student.full_name %>
          </div>
        <% end %>
      <% else %>
        <div class="col-sm-1-schedule text-center element-height lesson-block"></div>
      <% end %>
    <% end %>
  </div>
  <div class="row-time offset-color">
    <div class="col-sm-1-schedule first-col time-col text-center element-height"><h5 class="bold">2:00</h5></div>
    <% @teachers.each do |teacher| %>
      <% datetime = DateTime.new( @viewDate.year,  @viewDate.month, @viewDate.day, 12, 00 )%>
      <% if teacher.lessons_at(datetime).exists? %>
        <% teacher.lessons_at(datetime).each do |lesson| %>
          <div class="col-sm-1-schedule text-center element-height lesson-block lesson-active">
            <%= lesson.student.full_name %>
          </div>
        <% end %>
      <% else %>
        <div class="col-sm-1-schedule text-center element-height lesson-block"></div>
      <% end %>
    <% end %>
  </div>
  <div class="row-time">
    <div class="col-sm-1-schedule first-col time-col text-center element-height"><h5 class="bold">3:00</h5></div>
    <% @teachers.each do |teacher| %>
      <% datetime = DateTime.new( @viewDate.year,  @viewDate.month, @viewDate.day, 12, 00 )%>
      <% if teacher.lessons_at(datetime).exists? %>
        <% teacher.lessons_at(datetime).each do |lesson| %>
          <div class="col-sm-1-schedule text-center element-height lesson-block lesson-active">
            <%= lesson.student.full_name %>
          </div>
        <% end %>
      <% else %>
        <div class="col-sm-1-schedule text-center element-height lesson-block"></div>
      <% end %>
    <% end %>
  </div>
  <div class="row-time offset-color">
    <div class="col-sm-1-schedule first-col time-col text-center element-height"><h5 class="bold">4:00</h5></div>
    <% @teachers.each do |teacher| %>
      <% datetime = DateTime.new( @viewDate.year,  @viewDate.month, @viewDate.day, 12, 00 )%>
      <% if teacher.lessons_at(datetime).exists? %>
        <% teacher.lessons_at(datetime).each do |lesson| %>
          <div class="col-sm-1-schedule text-center element-height lesson-block lesson-active">
            <%= lesson.student.full_name %>
          </div>
        <% end %>
      <% else %>
        <div class="col-sm-1-schedule text-center element-height lesson-block"></div>
      <% end %>
    <% end %>
  </div>
  <div class="row-time">
    <div class="col-sm-1-schedule first-col time-col text-center element-height"><h5 class="bold">5:00</h5></div>
    <% @teachers.each do |teacher| %>
      <% datetime = DateTime.new( @viewDate.year,  @viewDate.month, @viewDate.day, 12, 00 )%>
      <% if teacher.lessons_at(datetime).exists? %>
        <% teacher.lessons_at(datetime).each do |lesson| %>
          <div class="col-sm-1-schedule text-center element-height lesson-block lesson-active">
            <%= lesson.student.full_name %>
          </div>
        <% end %>
      <% else %>
        <div class="col-sm-1-schedule text-center element-height lesson-block"></div>
      <% end %>
    <% end %>
  </div>
  <div class="row-time offset-color">
    <div class="col-sm-1-schedule first-col time-col text-center element-height"><h5 class="bold">6:00</h5></div>
    <% @teachers.each do |teacher| %>
      <% datetime = DateTime.new( @viewDate.year,  @viewDate.month, @viewDate.day, 12, 00 )%>
      <% if teacher.lessons_at(datetime).exists? %>
        <% teacher.lessons_at(datetime).each do |lesson| %>
          <div class="col-sm-1-schedule text-center element-height lesson-block lesson-active">
            <%= lesson.student.full_name %>
          </div>
        <% end %>
      <% else %>
        <div class="col-sm-1-schedule text-center element-height lesson-block"></div>
      <% end %>
    <% end %>
  </div>
  <div class="row-time">
    <div class="col-sm-1-schedule first-col time-col text-center element-height"><h5 class="bold">7:00</h5></div>
    <% @teachers.each do |teacher| %>
      <% datetime = DateTime.new( @viewDate.year,  @viewDate.month, @viewDate.day, 12, 00 )%>
      <% if teacher.lessons_at(datetime).exists? %>
        <% teacher.lessons_at(datetime).each do |lesson| %>
          <div class="col-sm-1-schedule text-center element-height lesson-block lesson-active">
            <%= lesson.student.full_name %>
          </div>
        <% end %>
      <% else %>
        <div class="col-sm-1-schedule text-center element-height lesson-block"></div>
      <% end %>
    <% end %>
  </div>
  <div class="row-time offset-color">
    <div class="col-sm-1-schedule first-col time-col text-center element-height"><h5 class="bold">8:00</h5></div>
    <% @teachers.each do |teacher| %>
      <% datetime = DateTime.new( @viewDate.year,  @viewDate.month, @viewDate.day, 12, 00 )%>
      <% if teacher.lessons_at(datetime).exists? %>
        <% teacher.lessons_at(datetime).each do |lesson| %>
          <div class="col-sm-1-schedule text-center element-height lesson-block lesson-active">
            <%= lesson.student.full_name %>
          </div>
        <% end %>
      <% else %>
        <div class="col-sm-1-schedule text-center element-height lesson-block"></div>
      <% end %>
    <% end %>
  </div>
  <div class="row-time">
    <div class="col-sm-1-schedule first-col time-col text-center element-height"><h5 class="bold">9:00</h5></div>
    <% @teachers.each do |teacher| %>
      <% datetime = DateTime.new( @viewDate.year,  @viewDate.month, @viewDate.day, 12, 00 )%>
      <% if teacher.lessons_at(datetime).exists? %>
        <% teacher.lessons_at(datetime).each do |lesson| %>
          <div class="col-sm-1-schedule text-center element-height lesson-block lesson-active">
            <%= lesson.student.full_name %>
          </div>
        <% end %>
      <% else %>
        <div class="col-sm-1-schedule text-center element-height lesson-block"></div>
      <% end %>
    <% end %>
  </div>
  <div class="row-time last-row offset-color">
    <div class="col-sm-1-schedule first-col time-col text-center element-height"><h5 class="bold">10:00</h5></div>
    <% @teachers.each do |teacher| %>
      <% datetime = DateTime.new( @viewDate.year,  @viewDate.month, @viewDate.day, 12, 00 )%>
      <% if teacher.lessons_at(datetime).exists? %>
        <% teacher.lessons_at(datetime).each do |lesson| %>
          <div class="col-sm-1-schedule text-center element-height lesson-block lesson-active">
            <%= lesson.student.full_name %>
          </div>
        <% end %>
      <% else %>
        <div class="col-sm-1-schedule text-center element-height lesson-block"></div>
      <% end %>
    <% end %>
  </div>
  
</div>

<!-- Modal | Schedule Lesson -->
<div class="modal fade" id="lessonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel">Schedule Lesson</h3>
      </div>
      <div class="modal-body">
        <iframe src="http://cameron-dixon-73135.use1.nitrousbox.com/lessons/new_lesson_modal" style="height: 280px; width: 100%;" frameborder="0" scrolling="no">
          <p>Page not available to render!</p>
        </iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="footer">
</div>