<div class="page-header" style="margin-left: 40px;">
  <div class="row">
    <h1 class="col-sm-8">Reschedule a Lesson</h1>
    <div class="col-sm-6">
      <span style="margin-right: 20px"><%= link_to 'Main Schedule', users_path, class: 'btn btn-default pull-left' %></span>
    </div>
  </div>
</div>

<div class="row col-sm-6" style="margin-left: 25px;">
  <%= form_for @lesson do |f| %>
    <% if @lesson.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited
          rescheduling your lesson:</h2>
        <ul>
        <% @lesson.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="form-group">
      <%= f.label 'Select Teacher' %>
      <%= f.collection_select :user_id, current_studio.users, :id, :name, {}, {class: 'form-control'} %>
    </div>
  
    <div class="form-group">
      <%= f.label 'Select Student' %>
      <%= f.collection_select :student_id, current_studio.students, :id, :full_name, {}, {class: 'form-control'} %>
    </div>
    
    <div class="form-group">
      <%= f.label 'Lesson Start' %>
      <%= f.datetime_select :start_time, class: "form-control", ampm: true %>
    </div>
  
    <div class="form_group bot-space">
      <label for="lesson_length">Lesson Time:</label>
      <%= radio_button_tag 'lesson_length', '30', false, class: 'radio-btn-spacing' %> 30 mins
      <%= radio_button_tag 'lesson_length', '45', true, class: 'radio-btn-spacing' %> 45 mins
      <%= radio_button_tag 'lesson_length', '50', false, class: 'radio-btn-spacing' %> 50 mins
      <%= radio_button_tag 'lesson_length', '60', false, class: 'radio-btn-spacing' %> 60 mins
    </div>

  <%= f.submit "Reschedule Lesson", class: 'btn btn-primary' %>
    &nbsp;or
    <%= link_to 'Cancel', users_path %>
  <% end %>
</div>
