<div class="page-header">
  <div class="row">
    <h1 class="col-sm-4" style="margin-left: 10px">All Lessons</h1>
    <div class="btn-group pull-right" style="margin-right: 100px;">
      <span><%= link_to 'Logout', 'logout', class: 'btn btn-default pull-right' %></span>
      <span><%= link_to 'Schedule', users_path, class: 'btn btn-default pull-right' %></span>
      <span><%= link_to 'Add a Student', new_student_path, class: 'btn btn-default pull-right' %></span>
      <span><%= link_to 'All Students', students_path, class: 'btn btn-default pull-right' %></span>
    </div>
  </div>
</div>

<div class="wrapper">
  <table class="table assignment-table">
    <thead>
      <tr>
        <th>Teacher Name</th>
        <th>Student Name</th>
        <th>Time</th>
        <th>Date</th>
      </tr>
    </thead>
  
    <tbody>
        <% current_studio.lessons.each do |lesson| %>
          <tr id="<%= dom_id(lesson) %>">
            <td><%= lesson.user.name %></td>
            <td><%= lesson.student.full_name %></td>
            <td><%= lesson.time_of_day.strftime("%I:%M %p") %></td>
            <td>
              <% if lesson.scheduled_on %>
              <%= lesson.scheduled_on %>
              <% else %>
              <%= lesson.day %>
              <% end %>
            </td>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>