<div class="page-header">
  <div class="row">
    <h1 class="col-sm-8" style="margin-left: 10px">All Lessons</h1>
    <div class="col-sm-6 pull-right" style="margin-right: 120px;">
      <span style="margin-right: 20px"><%= link_to 'Logout', 'logout', class: 'btn btn-default pull-right' %></span>
      <span style="margin-right: 20px"><%= link_to 'Schedule', users_path, class: 'btn btn-default pull-right' %></span>
      <span style="margin-right: 20px"><%= link_to 'Add a Student', new_student_path, class: 'btn btn-default pull-right' %></span>
      <span style="margin-right: 20px"><%= link_to 'All Students', students_path, class: 'btn btn-default pull-right' %></span>
    </div>
  </div>
</div>

<div class="wrapper">
  <table class="table assignment-table">
    <thead>
      <tr>
        <th>Student ID</th>
        <th>Teacher ID</th>
        <th>Time</th>
        <th>Day</th>
      </tr>
    </thead>
  
    <tbody>
      <% @lessons.each do |lesson| %>
        <tr id="<%= dom_id(lesson) %>">
          <td><%= lesson.student_id %></td>
          <td><%= lesson.user_id %></td>
          <td><%= lesson.time_of_day %></td>
          <td><%= lesson.day %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>