<div class="page-header" style="margin-left: 40px;">
  <div class="row">
    <h1 class="col-sm-8">Schedule a Lesson</h1>
    <div class="col-sm-6">
      <span style="margin-right: 20px"><%= link_to 'Main Schedule', users_path, class: 'btn btn-default pull-left' %></span>
    </div>
  </div>
</div>

<div class="row col-sm-6" style="margin-left: 25px;">
  <%= form_for @lesson do |f| %>
    <% if @lesson.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited
          scheduling your lesson:</h2>
        <ul>
        <% @lesson.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="form-group">
      <%= f.label 'Select Teacher' %>
      <%= f.collection_select :user_id, User.find(current_studio.users.id), :id, :name, {}, {class: 'form-control'} %>
    </div>
  
    <div class="form-group">
      <%= f.label 'Select Student' %>
      <%= f.collection_select :student_id, Student.all, :id, :full_name, {}, {class: 'form-control'} %>
    </div> 
  
    <div class="form-group">
      <%= f.label 'Lesson time?' %>
      <%= f.text_field :time_of_day, class: 'form-control' %>
    </div>
  
    <div class="form-group">
      <%= f.label 'What day?' %>
      <%= f.text_field :day, class: 'form-control' %>
    </div>
  
    <div class="form-group">
      <%= f.label 'Date' %>
      <%= f.date_field :scheduled_on, class: "form-control" %>
    </div>

    <%= f.submit "Schedule Lesson", class: 'btn btn-primary' %>
    &nbsp;or
    <%= link_to 'Cancel', users_path %>
  <% end %>
</div>


