<div class="row col-sm-6">
  <%= form_for @lesson do |f| %>
    <% if @lesson.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited
          scheduling your lesson:</h2>
        <ul>
        <% @lesson.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="form-group">
      <%= f.label 'Select Teacher' %>
      <%= f.collection_select :user_id, current_studio.users, :id, :name, {}, {class: 'form-control'} %>
    </div>
  
    <div class="form-group">
      <%= f.label 'Select Student' %>
      <%= f.collection_select :student_id, current_studio.students, :id, :full_name, {}, {class: 'form-control'} %>
    </div>
    
    <div class="form-group">
      <%= f.label 'Lesson Start' %>
      <%= f.datetime_select :start_time, class: "form-control", ampm: true %>
    </div>
  
    <div class="form-group">
      <%= f.label 'Lesson End' %>
      <%= f.datetime_select :end_time, class: "form-control", ampm: true %>
    </div>

    <%= f.submit "Schedule Lesson", :class => "btn btn-primary", "data-dismiss" => "lessonModal", "aria-hidden" => "true" %>
  <% end %>
</div>